body {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-content {
    width: 1100px;
    display: flex;
    justify-content: space-around;
}

.javascript {
    background-color: rgb(252, 55, 81);
    border: 1px solid grey;
    width: 220px;
    height: 100px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph {
    width: 220px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
span {
    text-align: center;
    margin: 10px;
    font-weight: 600;
}

.link {
    background-color: rgb(255, 55, 81);
    width: 180px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    align-self: center;
    margin: 10px 10px 25px 10px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.first-box {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;    
}

.second-box {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}

.third-box {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}

.fourth-box {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}
