.pink{
    background-color: rgb(211, 40, 97);
     width: 200px;   
}
.greenish{
    background-color: rgb(19, 199, 154);
}
.green{
    background-color: rgb(0, 153, 102);
    width: 100px;
}
.blue{
    background-color: rgb(8, 133, 250);
    width: 150px;
}
.dark-blue{
    background-color: rgb(43, 43, 129);
    width: 200px;
}
.light-blue{
    background-color: rgb(47, 188, 253);
    width: 20px;
}
.orange{
    background-color: rgb(240, 132, 10);
    height: 250px;
    width: 200px;
}
.coral{
    background-color: coral;
    height: 250px;
}

table{
    width: 1000px;
    height: 400px;
}
table, th, td {
    border: 6px solid white;
}
