@font-face {
    font-family: Montserrat-Light;
    src: url(Montserrat-Light.ttf);
}

body {
    margin: 0px;
}

h2 {
    font-size: 35px;
}

.all-text {
    font-family: Montserrat-Light;
    font-weight: 600;
}

.london1 {
    background-color: red;
    color: white;
    padding: 6px;
    padding-left: 15px;
    margin: 15px;
}
.london2 {
    background-color: yellow;
    color: black;
    padding: 6px;
    padding-left: 15px;
    margin: 15px;
}
.london3 {
    background-color: grey;
    color: black;
    padding: 6px;
    padding-left: 15px;
    margin: 15px;
}
.london4 {
    color: red;
    padding: 6px;
    padding-left: 15px;
    margin: 15px;
}
.london5 {
    color: blue;
    padding: 6px;
    padding-left: 15px;
    margin: 15px;
}
