li {
  list-style: none;
  padding: 10px;
  border: 1px solid black;
}

nav {
  display: flex;
  justify-content: space-around;
}

.ex5 .parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.ex5 header {
  background: lightblue;

  padding: 2rem;
  grid-column: 1 / 4;
}

.ex5 .left-side {
  grid-column: 1 / 2;
}

.ex5 main {
  background: coral;

  grid-column: 2 / 3;
}

.ex5 .right-side {
  background: yellow;

  grid-column: 3 / 4;
}

.ex5 footer {
  background: wheat;

  grid-column: 1 / 4;
}

.background {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://img.freepik.com/free-vector/old-paper-scroll-with-wax-seal_1284-34854.jpg?w=740&t=st=1675092612~exp=1675093212~hmac=987307b68ff3e760632b147b34c6bbcab25e5ead309031e6475fe42fe22a9aed");
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
}

.background p {
  width: 300px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
